<html xmlns:th="http://www.thymeleaf.org">
<head>
    <TITLE>Losowanie wiadomosci</TITLE>

    <style type="text/css">
        body {
            background-color: white;
        }
    </style>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        function crunchifyAjax() {
            $.ajax({
                url: 'randomMessage.html',
                success: function (data) {
                    $('#result').html(data);
                }
            });
        }
    </script>

    <script type="text/javascript">
        var intervalId = 0;
        intervalId = setInterval(crunchifyAjax, 3000);
    </script>
</head>

<body>
<div align="center">
    <br/> <br/> <span th:text="${message}"></span> <br/> <br/>
    <div id="result"></div>
    <br/>
    <p>
        by Php to gówno
    </p>
</div>
</body>
</html>